<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Messages</h1>
    <ul>
        {{#each messages}}
            <li>{{this.name}} ({{this.email}}): {{this.message}}</li>
        {{/each}}
    </ul>
    
</body>
</html>