<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanskritisarita-Privacy Policy</title>
</head>
<body>
    <h1>Privacy Policy for Sanskritisarita</h1>

    <p>Last updated: November 4, 2023</p>

    <p>This Privacy Policy is intended to inform users of Sanskritisarita about the policies and procedures regarding the collection, use, and disclosure of personal information when visiting our website, sanskritisarita.xyz. We take privacy seriously and are committed to complying with the General Data Protection Regulation (GDPR) and the California Privacy Rights Act (CPRA).</p>

    <h2>1. Data Collection and Usage</h2>

    <p>At Sanskritisarita, we do not collect any personal information or data from our visitors. You are not required to register, provide personal details, or disclose any information to access and read the articles on our website. We respect your privacy and maintain a strict no-data-collection policy.</p>

    <h2>2. Cookies and Tracking</h2>

    <p>We do not use cookies or any tracking technologies that gather information about your browsing activities. Our website does not engage in any form of user tracking. You can enjoy our articles without being subjected to tracking or data collection.</p>

    <h2>3. Third-Party Links</h2>

    <p>Sanskritisarita may contain links to third-party websites for reference or informational purposes. Please be aware that we have no control over the content, privacy practices, or data collection of these third-party websites. We encourage you to review the privacy policies of those websites when accessing their content. Our commitment to your privacy only extends to the Sanskritisarita website.</p>

    <h2>4. Changes to this Privacy Policy</h2>

    <p>We reserve the right to update or change this Privacy Policy at any time. Any modifications will be posted on this page, and the "Last updated" date will reflect the most recent changes. We encourage you to check this page periodically for updates.</p>

    <h2>5. Contact Us</h2>

    <p>If you have any questions, concerns, or require further information about this Privacy Policy or our practices, please do not hesitate to contact us. You can visit contact us section and send us a message</p>

    <p>This Privacy Policy was last updated on November 4, 2023.</p>
    
</body>
</html>